*{
    margin:0; padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}


.cont{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/bg.jpg);
    padding-bottom: 60px;
    flex-flow: column;
    display: flex;
}

.cont2{
	background: #AAD8E6;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 450px;
    padding-top: 30px;
}

input, select, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.Btn {
  background-color: #4169e1;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 10px 20px;
  margin: 8px 3px;
  width: 30%;
  font-size: 15px;
  cursor: pointer;
  float: right;
}

.Btn:hover {
  background-color: #005f69;
}

